{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bienvenue sur ECV Bank</h1>
    <div class="home-container">
        <a class="btn" href="{{ path('app_register') }}">Je m'inscris</a>
        <p>ou</p>
        <a class="btn" href="{{ path('app_login') }}">Je me connecte</a>
    </div>
</div>
{% endblock %}
