{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .form-login {
            max-width: 400px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            padding: 20px;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .form-login label {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            color: #555;
        }

        .form-input {
            font-size: 1rem;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 1rem;
        }

        .form-btn {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 0.5rem;
            cursor: pointer;
            transition: background-color 0.2s ease;
        }

        .form-btn:hover {
            background-color: #0062cc;
        }
    </style>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post" class="form-login">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-input">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" class="form-input">

        <button type="submit" class="form-btn">Login</button>

        <input type="hidden" name="_target_path" value="/account">
    </form>

{% endblock %}
