{% extends 'base.html.twig' %}

{% block title %}Hello RechargeController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="title__container">
            <h2>Configuration de la recharge</h2>
            <a href="{{ path("app_account") }}">Annuler</a>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
