{% extends 'base.html.twig' %}

{% block title %}Hello TransactionController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h2>Le virement a été effectuée avec succès.</h2>
        <a class="btn" href="{{ path("app_account") }}">Retour à la liste des comptes</a>
    </div>
{% endblock %}
